:root {
  /* colors */
  --color-Iris: #4d5ae5;
  --color-OCEAN: #404bbf;
  --color-Navy-blue: #2e2f42;
  --color-GREEN: #31d0aa;
  --color-SLATE: #434455;
  --color-LIGHT-SLATE: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-CLOUD: #f4f4fd;
  --color-NAVY-BLUE-modal: #2e2f42;
  --color-GREY: #2e2f42;
  --color-WHITE: #ffffff;
  --color-Dairy: #fcfcfc;
}

body {
  color: var(--color-SLATE);
  background-color: var(--color-WHITE);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.text-body {
}

.text-h1 {
  color: var(--color-WHITE);
  background-color: var(--color-Navy-blue);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.text-h2 {
  color: var(--color-Navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.text-h3 {
  color: var(--color-Navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.text-small {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.text-body-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.text-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.logo {
  color: var(--color-Iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-web {
  color: var(--color-Navy-blue);
}

.logo-web-footer {
  color: var(--color-CLOUD);
}

.navigation-link {
  color: var(--color-Navy-blue);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--color-OCEAN);
}

.address-link {
  color: var(--color-SLATE);
}

.address-link:hover,
.address-link:focus {
  color: var(--color-OCEAN);
}

.button-dark {
  color: var(--color-WHITE);
  background-color: var(--color-Iris);
}

.button-dark:hover,
.button-dark:focus {
  background-color: var(--color-OCEAN);
}

.button-light {
  color: var(--color-Navy-blue);
  background-color: var(--color-cornflower);
}

.button-light:hover,
.button-light:focus {
  color: var(--color-WHITE);
  background-color: var(--color-OCEAN);
}

.section1-h3 {
  text-align: left;
}

.section3 {
  text-align: center;
  background-color: var(--color-CLOUD);
}

.section3-item {
  background-color: var(--color-WHITE);
}

.section-footer {
  color: var(--color-CLOUD);
  background-color: var(--color-Navy-blue);
}

.section-portfolio-item {
  text-align: left;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
