:root {
  /* colors */
  --color-Iris: #4d5ae5;
  --color-OCEAN: #404bbf;
  --color-Navy-blue: #2e2f42;
  --color-GREEN: #31d0aa;
  --color-SLATE: #434455;
  --color-LIGHT-SLATE: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-CLOUD: #f4f4fd;
  --color-NAVY-BLUE-modal: #2e2f42;
  --color-GREY: #2e2f42;
  --color-WHITE: #ffffff;
  --color-Dairy: #fcfcfc;
}

body {
  color: var(--color-SLATE);
  background-color: var(--color-WHITE);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

h1 {
  color: var(--color-WHITE);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07143;
  letter-spacing: 1.12px;
}

h2 {
  color: var(--color-Navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  color: var(--color-Navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-Navy-blue);
}

a:focus,
a:hover {
  color: var(--color-OCEAN);
}

button {
  color: var(--color-WHITE);
  background-color: var(--color-Iris);
  cursor: pointer;
}

button:focus,
button:hover {
  background-color: var(--color-OCEAN);
}
