body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.text-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text-header-large {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.text-header-medium {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.text-header-small {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text-small {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.text-body-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.text-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: #2e2f42;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.header-navigation-link {
  color: #2e2f42;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-link {
  color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.button-oder {
  color: #ffffff;
  background-color: #4d5ae5;
}

.button-oder:hover,
.button-oder:focus {
  background-color: #404bbf;
}

.button-filter {
  color: #4d5ae5;
  background-color: #f4f4fd;
}

.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.section-hero {
  background-color: #2e2f42;
}

.section-hero-header {
  color: #ffffff;
  text-align: center;
}

.section-solutions-header {
  color: #2e2f42;
}

.section-wedo-header {
  color: #2e2f42;
  text-align: center;
}

.section-team {
  background-color: #f4f4fd;
}

.section-team-header {
  text-align: center;
  color: #2e2f42;
}

.section-team-item {
  background-color: #ffffff;
}

.section-team-item-text {
  text-align: center;
}

.section-footer {
  background-color: #2e2f42;
}

.section-footer-text {
  color: #f4f4fd;
}

.section-portfolio-header {
  color: #2e2f42;
}

.section-portfolio-item-text {
  color: #434455;
}

.text-header-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
